---
layout: layouts/home.njk
title: Blog
permalink: /posts/
eleventyNavigation:
  key: Blog
  order: 2
---

<div class="page-header">
  <span>Blog <i class="fas fa-rss"></i></span>
</div>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
