---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<!-- banner -->
<div class="banner">
  <h1>REZA</h1>
  <h2>i'm programmer;</h2>
</div>

<!-- content -->
<section>
  <p>
    My name is <strong>Reza Fauzi Zisiwa Duha</strong>, but you can call me
    <strong>Reza</strong>. I'm a programmer who loves writing code for <strong>Front-end web</strong> 
    and <strong>Android app</strong>. I have <a href="/about">about page</a> full of random
    things about me, if you're interested.<br><br>
    I enjoy writing sometimes; you can find my ramblings over on <a href="/posts">the blog</a>,
    but your might want to subscribe to the <a href="/feed/feed.xml">RSS feed</a> since there is no schedule in place.
    <b>The latest things I wrote are here:</b>
  </p>

  {% set postsgrid = collections.posts | head(-2) %} {% set postsgridCounter = collections.posts | length %} {% include "postsgrid.njk" %}
</section>
