---
layout: layouts/home.njk
title: Tags
permalink: /tags/
---
<div class="page-header">
  <span>Tags</span>
</div>


{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <span class="tag"><a href="{{ tagUrl | url }}">{{ tag }}</a></span>
{% endfor %}

