---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<div class="page-header">
  <span>Tagged “{{ tag }}”</span>
</div>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<br />
<a href="{{ '/tags/' | url }}">See all tags</a>
