<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <meta name="theme-color" content="#000" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
    <link id="theme" rel="stylesheet" href="{{ '/src/css/style-dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/src/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="shortcut icon" href="../../src/img/favicon.ico" type="image/x-icon">
  </head>
  <body>

    <header>
        <nav>
          <h1>&#169;rfzd</h1>
          <ul>
            {%- for entry in collections.all | eleventyNavigation %}
              <li><a class="{% if entry.url == page.url %} active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a></li>
            {%- endfor %}
          </ul>
        </nav>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      <div class="btn-theme">
        <button id="theme-toggle"><i class="fas fa-circle"></i></button>
      </div>

      {{ content | safe }}
    </main>

    <footer>
      <hr />
      <div class="footer-content">
        <strong>Reza Fauzi Zisiwa Duha &#169; 2020</strong>
        <div class="social-link">
          <ul>
            <li>
              <a href="https://github.com/rezaduha" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://linkedin.com/in/reza-duha-57a98b192" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="mailto:rezafauzizisiwaduha@gmail.com" target="_blank">
                <i class="fas fa-envelope-square"></i>
              </a>
            </li>
            <li>
              <a href="https://t.me/zisiwa" target="_blank">
                <i class="fab fa-telegram-plane"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    
    <!-- Current page: {{ page.url | url }} -->
    <script src="../../src/js/changeTheme.js"></script>
  </body>
</html>
